@{
    ViewData["Title"] = "Contacto";
}

<div class="contact-page">
  <div class="contact-wrapper">
    <div class="contact-header">
      <h1>Contacto</h1>
      <p>¿Tenes alguna consulta o sugerencia? ¡Estamos acá para ayudarte!</p>
    </div>
    <div class="contact-content">
      <p><strong><i class="fas fa-envelope"></i> Correo:</strong> soporte@sportify.com</p>
      <p><strong><i class="fas fa-phone"></i> Teléfono:</strong> +54 11 1234-5678</p>
      <p><strong><i class="fas fa-clock"></i> Horario de Atención:</strong> Lunes a Viernes de 9:00 a 18:00</p>
    </div>
    <div class="contact-footer">
      <p>También puedes seguirnos en nuestras redes sociales:</p>
      <ul>
        <li><a href="https://www.facebook.com/profile.php?id=61569202845286"><i class="fab fa-facebook-f"></i> Facebook</a></li>
        <li><a href="https://www.instagram.com/sportifys2024/"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="https://x.com/Sportify_s"><i class="fab fa-twitter"></i> Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
