@{
    ViewData["Title"] = "Sobre Nosotros";
}


<div class="about-us-wrapper">
    <div class="about-us-header">
      <h1>Sobre Nosotros</h1>
      <p>Conoce más sobre nuestra misión, visión y valores en Sportify.</p>
    </div>
    <div class="about-us-content">
      <h3>Nuestra Misión</h3>
      <p>
        En <strong>Sportify</strong>, trabajamos para facilitar la gestión de turnos en gimnasios,
        ayudando a optimizar tiempos tanto para los dueños como para los clientes. Creemos que
        el tiempo es un recurso valioso y nuestro objetivo es maximizar su uso.
      </p>
      <h3>Nuestra Visión</h3>
      <p>
        Ser la plataforma líder en gestión de turnos para gimnasios, innovando continuamente y
        expandiéndonos a nivel global, ofreciendo soluciones eficientes y accesibles.
      </p>
      <h3>Nuestros Valores</h3>
      <ul>
        <li><strong>Compromiso:</strong> Estamos dedicados a mejorar la experiencia de nuestros usuarios.</li>
        <li><strong>Innovación:</strong> Buscamos soluciones creativas a los desafíos del día a día.</li>
        <li><strong>Transparencia:</strong> Construimos relaciones basadas en confianza y claridad.</li>
        <li><strong>Sostenibilidad:</strong> Apostamos por un impacto positivo en la comunidad y el medio ambiente.</li>
      </ul>
  </div>
</div>

