@{
    ViewData["Title"] = "Términos y Condiciones";
}

<div *ngIf="language === 'es'" class="terms-and-conditions-wrapper text-white">
    <div class="terms-and-conditions">
      <div>
        <br> </br>
        <h3><b>TÉRMINOS Y CONDICIONES</b></h3>
        <br /><br />
        <p>
          En estos términos y condiciones se usa el nombre “Sportify” para designar al sistema de gestión 
          de turnos para gimnasios. Al adquirir turnos a través del sistema Sportify, el usuario declara 
          conocer y aceptar las siguientes políticas, términos y condiciones. Los términos y condiciones 
          de uso del sistema son de carácter obligatorio y vinculante. De no aceptar los términos, 
          condiciones y políticas de Sportify deberá abstenerse de usar el servicio.
        </p>
        <p>
          El sistema Sportify permite a los usuarios reservar turnos a través de internet u otros medios 
          digitales similares. El sistema asignará automáticamente el mejor horario disponible en el 
          momento de realizar la reserva, de acuerdo con las preferencias y disponibilidad del usuario.
        </p>
        <p>
          Se entiende en adelante que los términos “Turno” o “QR” son equivalentes en cuanto a la 
          aplicación de estos términos y condiciones y en cuanto a su funcionalidad para acceder al gimnasio.
        </p>
        <p>
          Toda reserva realizada mediante el sistema está sujeta a un cargo por servicio adicional al costo 
          del turno (los cuales se informan en la lista de precios correspondiente).
        </p>
        <p>
          Los turnos podrán ser reservados por el usuario bajo las condiciones especiales definidas para cada 
          actividad o clase.
        </p>
        <p>
          Los cargos por servicio efectivamente prestados por Sportify no serán en ningún caso reembolsados, 
          ni siquiera en caso de suspensión, cancelación o reprogramación de la actividad.
        </p>
        <p>
          La confirmación de la reserva que usted realiza con su tarjeta de crédito o débito está sujeta a la 
          revisión de la exactitud de los datos y a la autorización de la empresa emisora de ésta.
        </p>
        <p>
          Una vez que reciba su Turno o QR, es responsabilidad exclusiva del cliente; por ello pedimos no 
          compartirlo ni mostrarlo públicamente.
        </p>
        <p>
          Para acceder al sistema Sportify, deberá tener habilitado el modo gráfico y aceptar cookies en su 
          navegador. Si su navegador tiene estas opciones deshabilitadas, por favor habilítelas y recargue 
          la página.
        </p>
        <p>
          Los turnos solo serán válidos para acceder al gimnasio si han sido reservados a través del sistema 
          Sportify. Para evitar situaciones tales como reventa ilegal, falsificaciones o QR con doble acceso, 
          recomendamos realizar sus reservas exclusivamente utilizando el sistema Sportify.
        </p>
        <p>
          Los turnos no podrán ser utilizados en ningún caso para su reventa y/o aplicación comercial o de 
          promoción sin la previa autorización por escrito del gimnasio o de Sportify.
        </p>
        <p>
          Antes de ingresar al gimnasio, los usuarios podrán ser sometidos a un control por parte del personal 
          de recepción, negándose el ingreso a quien se niegue a recibirlo, sin ninguna responsabilidad o 
          consecuencia para el gimnasio ni para Sportify.
        </p>
        <p>
          No se permitirá el ingreso al gimnasio con elementos peligrosos o que puedan causar daño, a criterio 
          del gimnasio. Estos elementos podrán ser retirados del lugar y, en caso de ser necesario, destruidos.
        </p>
        <p>
          El gimnasio se reserva la posibilidad de reemplazar los turnos por códigos QR, siendo ambos formatos 
          idénticos a todo efecto. En lo relativo a los términos y condiciones de uso del sistema Sportify, 
          será indistinta la denominación turno, reserva o código QR. El gimnasio se reserva la posibilidad 
          de establecer que para el ingreso sea necesario presentar el QR o realizar un canje previo en el 
          horario y lugar que se determine.
        </p>
        <p>
          Los usuarios podrán reservar más de un turno hasta la cantidad máxima determinada por el gimnasio, en 
          cuyo caso se emitirá un turno o QR por cada reserva realizada.
        </p>
        <p>
          Para el acceso a las actividades, el gimnasio podrá exigir la presentación del Turno o del código QR, 
          dependiendo de la modalidad adoptada para cada caso. En caso de utilizar el QR, este será leído en 
          el punto de control para verificar si el usuario realizó la reserva correspondiente y permitir o 
          denegar su acceso, según corresponda.
        </p>
        <p>
          El QR no podrá ser utilizado en ningún caso para su reventa y/o aplicación comercial o de promoción 
          sin la previa autorización por escrito del gimnasio o de Sportify.
        </p>
      </div>
    </div>
  </div>